img {
  width: 100%;
}
.container {
  /* border: 1px solid black; */
}

.hero {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) -13.19%,
      rgba(0, 0, 0, 0.85) 94.01%
    ),
    url("../assets/images/image.png");
  background-size: cover;
  /* background-position-x: 56%; */
}

.hero {
  max-width: 1600px;
  margin: auto;
  /* background-color: aqua; */
}

.proekt-ringo__info-desc {
  /* position: relative;
  left: 10px; */
}
.proekt-ringo__info-desc__radio-img::before {
  content: url("../assets/icons/radio.svg");
  position: relative;
  top: 3px;
  color: rgb(0, 0, 0, 0.80);
  color: #ffffff;
  
}




